<div class="row mb-3">
  <div class="col-md-12">
    <h1>Join a game</h1>

    <form action="/join_game" method="post">
      <div class="form-group">
        <label for="passcode_box">Passcode</label>
        <input type="text" id="passcode_box" name="query_passcode" class="form-control" >
      </div>
    </form>

  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Create a new game
    </h1>
  </div>
</div>
