<div class="row mb-3">
  <div class="col-md-12">
    <h1>Join a game</h1>

    <form action="/join_game" method="post">
      <div class="form-group">
        <label for="passcode_box">Enter the game passcode</label>
        <input type="text" id="passcode_box" name="query_passcode" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary" style = "background-color:#35654d; color:white;">Join game</button>
    </form>

  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <h1>Create a new game</h1>

    <form action="/insert_game" method="post">
      <div class="form-group">
        <label for="passcode_box">Create a game passcode to share with the other players</label>
        <input type="text" id="passcode_box" name="query_passcode" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary" style = "background-color:#35654d; color:white;">Create game</button>
    </form>
  </div>
</div>
